In [1]:
import pandas as pd

In [2]:
# !pip install sqlalchemy psycopg2-binary

In [3]:
df = pd.read_csv('yellow_ny_taxi.csv', nrows=100)

In [4]:
df.tpep_pickup_datetime =pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime =pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
import sqlalchemy 
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
engine.connect()

In [8]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL,
  "cbd_congestion_fee" REAL
)

In [9]:
df_iter = pd.read_csv('yellow_ny_taxi.csv', iterator =True, chunksize=100000)

In [10]:
df = next(df_iter)

In [11]:
df.tpep_pickup_datetime =pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime =pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine, if_exists='replace' ,index=False)

0

In [13]:
query = """
SELECT * FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
    schemaname != 'information_schema';
"""
pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,False,False,False,False

In [14]:
query = """
SELECT * FROM yellow_taxi_data LIMIT 10
"""
pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, Airport_fee, cbd_congestion_fee]
Index: []

In [15]:
from time import time

In [16]:
# Insert chunks
for df in df_iter:
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    t_start = time()
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', index=False)
    t_end = time()
    print(f'Inserted chunk, took {t_end-t_start:.2f} sec')

Inserted chunk, took 21.53 sec
Inserted chunk, took 20.72 sec
Inserted chunk, took 19.99 sec
Inserted chunk, took 20.21 sec
Inserted chunk, took 21.51 sec
Inserted chunk, took 20.72 sec
Inserted chunk, took 19.77 sec
Inserted chunk, took 20.20 sec
Inserted chunk, took 21.34 sec
Inserted chunk, took 21.21 sec
Inserted chunk, took 19.27 sec
Inserted chunk, took 19.93 sec
Inserted chunk, took 19.04 sec
Inserted chunk, took 19.73 sec
Inserted chunk, took 19.33 sec
Inserted chunk, took 18.75 sec
Inserted chunk, took 19.79 sec
Inserted chunk, took 18.92 sec
Inserted chunk, took 18.17 sec
Inserted chunk, took 20.52 sec
Inserted chunk, took 20.71 sec
Inserted chunk, took 19.93 sec
Inserted chunk, took 20.81 sec
Inserted chunk, took 19.56 sec
Inserted chunk, took 19.75 sec
Inserted chunk, took 19.41 sec
Inserted chunk, took 18.43 sec
Inserted chunk, took 18.53 sec

C:\Users\saral\AppData\Local\Temp\ipykernel_9340\449898925.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in df_iter:

Inserted chunk, took 17.78 sec
Inserted chunk, took 20.01 sec
Inserted chunk, took 17.34 sec
Inserted chunk, took 19.04 sec
Inserted chunk, took 20.76 sec
Inserted chunk, took 15.00 sec