In [36]:
import pandas as pd

In [37]:
pd.__version__

'2.2.2'

In [ ]:
# !pip install sqlalchemy psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\saral\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.0.44)
Requirement already satisfied: psycopg2-binary in c:\users\saral\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.9.11)
Requirement already satisfied: greenlet>=1 in c:\users\saral\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\saral\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (4.12.0)

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: C:\Users\saral\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [48]:
df = pd.read_csv('yellow_ny_taxi.csv', nrows=100)

In [49]:
df.tpep_pickup_datetime =pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime =pd.to_datetime(df.tpep_dropoff_datetime)

In [50]:
import sqlalchemy 
from sqlalchemy import create_engine

In [51]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [52]:
engine.connect()

In [53]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL,
  "cbd_congestion_fee" REAL
)

In [54]:
df_iter = pd.read_csv('yellow_ny_taxi.csv', iterator =True, chunksize=100000)

In [55]:
df = next(df_iter)

In [56]:
len(df)

100000

In [57]:
df.tpep_pickup_datetime =pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime =pd.to_datetime(df.tpep_dropoff_datetime)

In [59]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, Airport_fee, cbd_congestion_fee]
Index: []

In [24]:
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine, if_exists='replace')

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, Airport_fee, cbd_congestion_fee]
Index: []

In [65]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 11.5 s
Wall time: 18.2 s

1000

In [66]:
query = """
SELECT * FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
    schemaname != 'information_schema';
"""
pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False

In [67]:
query = """
SELECT * FROM yellow_taxi_data LIMIT 10
"""
pd.read_sql(query, con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,...,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,...,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0
2,2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,...,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0
3,3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,...,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0
4,4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,...,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0
5,5,2,2025-01-01 00:48:24,2025-01-01 01:08:26,2.0,2.63,1.0,N,239,68,...,19.1,1.0,0.5,0.00,0.0,1.0,24.10,2.5,0.0,0.0
6,6,1,2025-01-01 00:14:47,2025-01-01 00:16:15,0.0,0.40,1.0,N,170,170,...,4.4,3.5,0.5,2.35,0.0,1.0,11.75,2.5,0.0,0.0
7,7,1,2025-01-01 00:39:27,2025-01-01 00:51:51,0.0,1.60,1.0,N,234,148,...,12.1,3.5,0.5,2.00,0.0,1.0,19.10,2.5,0.0,0.0
8,8,1,2025-01-01 00:53:43,2025-01-01 01:13:23,0.0,2.80,1.0,N,148,170,...,19.1,3.5,0.5,3.00,0.0,1.0,27.10,2.5,0.0,0.0
9,9,2,2025-01-01 00:00:02,2025-01-01 00:09:36,1.0,1.71,1.0,N,237,262,...,11.4,1.0,0.5,0.00,0.0,1.0,16.40,2.5,0.0,0.0

In [ ]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime =pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime =pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('Inserted Anpther Chunk....., took %.3f second' % (t_end - t_start))